.parent {
    width: 430px;
    max-height: 450px;
    text-align: center;
    border: 5px solid rgb(58, 142, 138);
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.parent button {
    max-width: 150px;
    color: white;
    background-color: blueviolet;
    border-radius: 5px;
    border: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}

 button:hover {
    background-color: rgb(75, 10, 136);
}
.icon {
    width: 30px;
}
.img {
    width: 130px;
    height: 130px;
}

.parent .custom-button{
    height: 50px;
}